body {
	/*background-color: rgba(28,28,58);  */
}

label {
	font-weight: 300;
}

.form {
	text-align: center;
	margin-top: 175px;
}

.congrat {
	text-align: center;
	font-size: 3.5em;
	color: rgba(28,28,58, 0.7);
}

a {
  color: #00B7FF;
}
