<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<header>
	<% include ../partials/header %>
</header>
<body>

<main>
    <div>
        <h1 class="congrat">Welcome to NodeAuth</h1>
        <div class="form">
		    <form method="POST" action="/iwant/:choice/:time"
		    	<label>Ko nori</label><br/>
		    	<input type="text" name="what"><br/>
		    	<label>Kada</label><br/>
		    	<input type="text" name="when"><br/>
		    	<button id="submit" class="btn btn-default"> Submit </button>
		    </form>
        </div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
