<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<header>
	<% include ../partials/header %>
</header>
<body>

<main>
    <div>
        <h1 class="congrat">Welcome to NodeAuth</h1>
        
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
